.posts {

  &__container {
    padding: 54px 0;
  }

  &__title {
    font-size: 64px;
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__moreButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 333px;
    margin: 24px auto 0 auto;
    padding: 12px 16px;
    border-radius: 50px;
    background-color: var(--gray_light);
    color: var(--gray1);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: var(--gray1_hover);
    }
  }
}