.header {
  padding: 12px 24px;
  margin-bottom: 40px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__button {
    padding: 16px 24px;
    border-radius: 24px;
    font-size: 22px;
    font-weight: 500;
    color: var(--gray1);
    background-color: var(--gray_light);
    transition: color 0.2s ease-in-out;
    text-transform: uppercase;

    &:hover {
      color: var(--gray1_hover);
    }

    &:global(.active) {
      background-color: var(--purple_light);
      color: var(--accent_purple);
    }
  }
}