.post {
  min-height: 450px;
  border-radius: 20px;
  background-color: var(--gray_light);
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: var(--purple_light);
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 24px 42px 48px 24px;
  }

  &__number {
    align-self: flex-start;
    padding: 8px 16px;
    border-radius: 50px;
    font-weight: 500;
    font-size: 16px;
    color: var(--accent_purple);
    text-transform: uppercase;
  }

  &__title {
    font-size: 55px;
    line-height: 105%;
    margin: 84px 0 50px;
    width: 777px;
    max-width: 100%;
  }

  &__paragraph {
    margin-left: auto;
    font-size: 20px;
    line-height: 120%;
    max-width: 555px;
  }
}