@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body {
  position: relative;
  min-width: 375px;
  font-family: var(--font_montserrat);
  font-optical-sizing: auto;
  font-weight: 400;

}

.main {

}

section {
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}