body {
  --white: #fff;
  --black: #000;
  --gray1: #7A7A7B;
  --gray1_hover: rgba(0, 0, 0, 0.20);
  --gray_light: #F5F5F7;
  --accent_purple: #7043F3;
  --purple_light: #E8E1FD;

  --font_montserrat: "Montserrat", sans-serif;
}